@{
    ViewData["Title"] = "Goles";
}

<div class="container">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="titulo">Goles</h2>
                <div class="descripcion">
                    <p>En esta página podrás encontrar los mejores goles de las ultimas 3 ediciones</p>
                    <p>Disfruten del futbol</p>
                </div>
        </div>
    </div>


<br><br><br><br>



<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <h4 class="subtitulo">Copa América 2019</h4>
  </div>
      <div class="distancia embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rl7--zxvAmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <h4 class="subtitulo">Copa América 2016</h4>
  </div>
      <div class="distancia embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tp4QdssJPwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
    <h4 class="subtitulo">Copa América 2015</h4>
  </div>
      <div class="distancia embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/c6mXabxyZRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</div>

</div>