@{
    ViewData["Title"] = "Home Page";
}
<body  id="index">
    <div class="row">
        <div class="container">
            
            <div class="text-center" style="margin-top:5rem">
                <h1>DEAL OR NO DEAL</h1>
                <h3><i>¿Cuanto lograrás ganar?</i></h3>
                <p>El participante debe escoger entre 26 maletines que contienen distintas sumas de dinero, desde 1 centavo hasta un millón. Los 25 maletines no elegidos se abrirán uno a uno mientras el jugador recibe distintas ofertas en efectivo, que podrá aceptar o rechazar en busca de una mejor.</p>
                <a button type="button" class="btn btn-outline-warning" id= "boton" href='@Url.Action("Index","Juego")'>Comenzar el juego</button></a>
            </div>
        </div>
    </div>
</body>