@{
    ViewData["Title"] = "Jugueteria";
}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
<div class="jumbotron jumbotron-fluid jugueteria">
  <div class="container">
    <h1 class="display-4">¡Has ingresado a la jugueteria!</h1>
    <p class="lead">Para lograr escapar, deberás desifrar las 3 adivinanzas que se muestran en pantalla. Una vez completadas las 3 podrás poner la fecha que se pide para pasar a la siguiente sala, la misma corresponde al dia de inauguración del shopping. La primer adivinanza, te dará a conocer el día, mientras que la segunda el mes y la última el año de inauguración, en el momento de escribir el año, si el numero es menor a 21 el siglo es el 19 pero si es mayor a 22 se refiere al siglo pasado. Escribir con /</p>
  </div>
</div>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
<section class="u-align-center u-image u-section-1 bg-light adi">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
              <div class="row">
                <div class="col-md-4" style="padding:0; margin-bottom:0;"> 
                    <div class="u-container-style u-layout-cell u-left-cell  u-size-20 u-white u-layout-cell-1">
                      <div class="u-container-layout u-valign-top u-container-layout-1">
                         <h2 class="u-text u-text-4">1</h2>
                          <h3 class="u-text u-text-black u-text-5">Descubrí el día</h3>
                          <p class="u-text u-text-6">Si la suma de 3 manzanas da 30, la suma de 1 manzana y 2 bananas da 18 y la diferencia entre 1 banana y 2 cocos es igual a 2, cuanto da la suma de una manzana, una banana y un coco?</p>
                          <br>
                          <button type="button" class="show btn btn-outline-info btn-lg" style="margin-right: 1rem;"data-toggle="modal" data-target="#pista1">Pista</button>
                         
                      </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding: 0;">
                    <div class="u-black u-container-style u-layout-cell u-opacity u-opacity-70 u-size-20 u-layout-cell-2">
                      <div class="u-container-layout u-valign-top u-container-layout-2">
                        <h2 class="u-text u-text-palette-2-base u-text-7">2</h2>
                        <h3 class="u-custom-font u-font-playfair-display u-text u-text-8">Descubrí el mes</h3>
                        <p class="u-text u-text-9">Si la suma de 3 osos de peluche da 18, la suma de 1 oso de peluche y 2 jirafas de peluche da 12 y la suma de 1 jirafa de peluche con 2 gatos de peluche es igual a 7, cuanto da la suma de un oso, una jirafa y un gato? </p>
                        <br>
                        <button type="button" class="show btn btn-outline-info btn-lg" style="margin-right: 1rem;"data-toggle="modal" data-target="#pista2">Pista</button>
                      </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding: 0;">
                  <div class="u-container-style u-layout-cell u-palette-1-base u-right-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3">
                      <h2 class="u-text u-text-10">3</h2>
                      <h3 class="u-custom-font u-font-playfair-display u-text u-text-11">Descubrí el año</h3>
                      <p class="u-text u-text-12"> Si la suma de 3 cuadrados da 45, la suma de 2 triangulos y un cuadrado da 23 y la suma entre 1 triangulo y 2 circulos es igual a 10, cuanto da, un circulo más un triangulo más un triangulo por un cuadrado?</p>
                      <br>
                          <button type="button" class="show btn btn-outline-info btn-lg" style="margin-right: 1rem;"data-toggle="modal" data-target="#pista3">Pista</button>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
    <div class="modal fade" id="pista1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pista 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
          El valor de un coco es igual a 1.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pista2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pista 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
          El valor de una jirafa de peluche es igual a 3.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pista3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pista 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div class="modal-body">
          El valor de un triangulo es 4.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
<div id = "hespecial"> 
<br>
<center>
<form action='@Url.Action("Habitacion2","Escape")' method="post">
<div class="input-group ml-0 mb-0">
  <input type="string" class="form-control" name= "clave" placeholder="Ingrese la clave" aria-label="clave" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-danger" type="submit" id="button-addon2">Enviar</button>
    @{
    if(ViewBag.Alerta==true){
    <div class="modal" id= "terminal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title texto">Código incorrecto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="texto">Vuelva a intentar.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Volver a intentar</button>
          </div>
        </div>
      </div>
    </div>
}
}
 </div>
</div>
</form>
<br>
</div>
 </div>
    </div>
<br>
</div>