 <body class="victoria">
   <div class= "content">
    <div class="btn"> Felicitaciones @ViewBag.nombreUsuario</div>
     <h1>Has logrado escapar <br> del shopping</h1>
     <p>Esperamos que lo hayas disfutado.<br>Has resuelto la sala con @ViewBag.cantErrores errores!</p>

   </div>
 </body>