/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Footer */

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 0.5rem 0.5rem;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 5rem;
  height: 5rem;
  text-decoration: none;
}
.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 2rem;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff!important;
}
.social-button:focus::after, .social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--facebook {
  color: #3b5998 !important;
}
.social-button--facebook::after {
  background: #3b5998;
}
.social-button--twitter {
  color: #1da1f2 !important;
}
.social-button--twitter::after {
  background: #1da1f2;
}
.social-button--pinterest{
 color: #bd081c !important;
}
.social-button--pinterest::after {
  background: #bd081c;
}
.social-button--youtube {
 color: #ff0000 !important;
}
.social-button--youtube::after {
  background: #ff0000;
}
.social-button--instagram {
 color: #c13584 !important;
}
.social-button--instagram::after {
  background: #c13584;
}

#logo{
  width: 12rem;
  height:7rem;
}

body{
  background-image: url("/img/fondo.gif");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.formulario {
  width: 20rem;
  background: #000000a8;
  padding: 2rem;
  margin-top: 55%;
  margin-left: 50%;
  margin-bottom: 2rem;
  margin-top: 3rem;
  border-radius: 1rem;
  font-family: 'calibri';
  color: white;
  box-shadow: 3rem 6rem 36rem #000;
  transform: translate(-50%, -10%);
}

h2{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h4{
  margin-top: 1rem;
}

.ingresar {
  text-align: center;
  width: 100%;
  background: #fffefe;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3em;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.viewbags{
  font-size: 2rem;
  color: white;
}

.btn{
  border-radius: 0.5;
}

#fotito{
  width: 7rem;
  height: 5rem;
}