@{
    ViewData["Title"] = "Tutorial";
}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="jumbotron" style="margin-top: 3rem;">
        <h1 class="display-4">Bienvenido a la sala de escape!</h1>
        <p class="lead">En esta ocasión deberás escapar de un shopping donde te quedaste encerrado. Para ello tendras que lograr salir de cuatro habitaciones distintas, pensando y poniendo a prueba tus habilidades.</p>
        <hr class="my-4">
        <p>Te deseamos mucha suerte y que te diviertas!</p>
        <a class="btn btn-primary btn-lg" href='@Url.Action("Index","Escape")' role="button">Introducción al juego</a>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
  <div id = "hespecial">
    <div class="media">
      <img class= "fotoespecial"src="/img/sala1.png" class="mr-3" alt="Sala de cine">
      <div class="media-body">
        <div class="palabra" style= "margin-left: 1rem; margin-right: 1rem;">
        <h5> Sala de cine</h5>
        Bienvenidos a nuestro cine, esta es una de las salas de donde deberás escapar, donde todo comenzó. 
        </div>
      </div>
    </div>
    <br>
    <div class="media">
      <img class= "fotoespecial"src="/img/sala2.jpg" class="mr-3" alt="Jugueteria">
      <div class="media-body">
        <div class="palabra" style= "margin-left: 1rem; margin-right: 1rem;">
        <h5>Jugueteria</h5>
        Grandiosa jugueteria, verdad? Si tan solo no estuvieras atrapado con muchos muñecos...
        </div>
      </div>
    </div>
    <br>
    <div class="media">
      <img class= "fotoespecial" src="/img/sala3.jpg" class="mr-3" alt="Supermercado">
      <div class="media-body">
        <div class="palabra" style= "margin-left: 1rem; margin-right: 1rem;">
        <h5> Supermercado</h5>
        En el supermercado al menos no moriras de hambre, pero no te garantizamos la seguridad en otros aspectos, cuidado.
        </div>
      </div>
    </div>
    <br>
    <div class="media">
      <img class= "fotoespecial" src="/img/sala4.jpg" class="mr-3" alt="Hall del shopping">
      <div class="media-body">
        <div class="palabra" style= "margin-left: 1rem; margin-right: 1rem;">
        <h5> Hall del shopping</h5>
        Si llegaste hasta acá, sos todo un genio, pero no te ilusiones, que lo más dificil está por llegar.
        </div>
      </div>
    </div>
  </div>
      <br>
  </div>
  </div>
  </div>
</div>
